body {
            background-color: rgba(185, 185, 185, 0.719); /* Define a cor de fundo para lightblue */
            text-align: center; /* Centraliza o texto na página */
        }


table {
            border-collapse: collapse; /* Combina as bordas das células para uma aparência mais limpa */
            width: 100%; /* Define a largura da tabela como 100% da largura da página */
        }

 th, td {
            border: 3px solid rgb(53, 52, 52); /* Define a espessura e o estilo das bordas das células */
            padding: 3px; /* Adiciona um preenchimento interno de 8px em todas as células */
            text-align: left; /* Alinha o texto à esquerda dentro das células */
        }



.parte-fixa {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #1d0844;
            color: white;
            padding: 10px;
            border-bottom: 3px solid #000000;
            text-align: center;
            z-index: 1000; /* Garante que fique acima de outros elementos */
        }

.parte-fixa button {
            margin-right: 20px; /* Adiciona margem direita maior aos botões */
            padding: 5px 10px; /* Adiciona preenchimento interno aos botões */
            background-color: white; /* Cor de fundo dos botões */
            color: #000000; /* Cor do texto dos botões */
            cursor: pointer; /* Altera o cursor ao passar sobre os botões */
            border-radius: 5px; /* Borda arredondada nos botões */
        }

/* Estilos para a última célula de botões */
        .parte-fixa button:last-child {
            margin-right: 0; /* Remove a margem direita do último botão */


.container {
            width: 60%; /* Define a largura máxima do conteúdo */
            margin: 0 auto; /* Centraliza o conteúdo na página */
            text-align: justify; /* Justifica o texto 
	}

